[submodule "dzenpay"]
	path = dzenpay
	url = git@github.com:ImpexPay/payment_agencies.git
	branch = dzenpay
[submodule "dzenpay_dev"]
	path = dzenpay_dev
	url = git@github.com:ImpexPay/payment_agencies.git
	branch = dzenpay_dev
[submodule "payment_agencies/dzenpay"]
	path = payment_agencies/dzenpay
	url = git@github.com:ImpexPay/payment_agencies.git
	branch = dzenpay
[submodule "payment_agencies/dzenpay_dev"]
	path = payment_agencies/dzenpay_dev
	url = git@github.com:ImpexPay/payment_agencies.git
	branch = dzenpay_dev
[submodule "payment_agencies/exima_dev"]
	path = payment_agencies/exima_dev
	url = git@github.com:ImpexPay/payment_agencies.git
	branch = exima_dev
[submodule "payment_agencies/exima"]
	path = payment_agencies/exima
	url = git@github.com:ImpexPay/payment_agencies.git
	branch = exima
[submodule "ihi-portfolio"]
	path = ihi-portfolio
	url = git@github.com:ImpexPay/ihi-portfolio.git
	branch = master
[submodule "payment_agencies/bank5"]
	path = payment_agencies/bank5
	url = git@github.com:ImpexPay/payment_agencies.git
	branch = bank5
[submodule "payment_agencies/bank5_dev"]
	path = payment_agencies/bank5_dev
	url = git@github.com:ImpexPay/payment_agencies.git
	branch = bank5_dev
